html {
    font-family: Arial, sans-serif;
    overflow-y: scroll;
}

body {
    margin: 0;
   // background: aqua;
}

html, body, #root {
    height: 100%;
    min-height: 100%;
}

.header {
    background-color: #efefef;
}

.sidebar {
    background-color: #efefef;
}

.layout-row {
    display: grid;
    grid-template-rows: 60px 1fr;
    height: 100%;
}

.layout-col {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100%;
}
